.skeletonCard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }
    40%,
    100% {
      background-position: 440px;
    }
  }
  @keyframes shine-avatar {
    0% {
      background-position: -32px;
    }
    40%,
    100% {
      background-position: 208px;
    }
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    .post {
      width: 100%;
      height: 80px;
      margin-bottom: 10px;
      .avatar {
        float: left;
        width: 52px;
        height: 52px;
        background-color: #cccccc5e;
        border-radius: 50%;
        margin: 8px;
        background-image: linear-gradient(
          90deg,
          #302e2e 0px,
          #0000003c 40px,
          #3d3c3c 80px
        );
        background-size: 600px;
        animation: shine-avatar 1.6s infinite linear;
      }
      .second {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        :nth-child(1) {
          margin-top: 11px;
          width: 30%;
        }
      }
      .line {
        float: left;
        width: 90%;
        height: 16px;
        margin-top: 12px;
        border-radius: 7px;
        background-image: linear-gradient(
          90deg,
          #2f2e2e 0px,
          #00000048 40px,
          #393838 80px
        );
        background-size: 600px;
        animation: shine-lines 1.6s infinite linear;
        ~ {
          .line {
            background-color: #ddd;
          }
        }
      }
    }
  }
}
