.component_Button {
  padding: 12px 10px;
  //   width: 100px;
  background: linear-gradient(to right, #d400ffc0, #801e9fc9);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.196);
  }
}
