.globalUpload {
  //   background: #0c0c0c;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 2px rgba(228, 4, 213, 0.083);
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .upload {
    width: 100%;
    padding: 10px;
    height: fit-content;
    // box-shadow: 0 0 10px rgba(89, 8, 144, 0.523);
    border-radius: 4px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 10px;
    transition: 0.4s all;
    position: relative;
    border: 1px solid black;
    &:hover {
      border: 1px solid rgba(171, 13, 158, 0.644);
      // box-shadow: 0 0 17px rgba(171, 13, 158, 0.644);
    }
    .left {
      margin-right: 10px;
      position: relative;
      transition: 0.3s all;
      img {
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        // box-shadow: 0 0 10px rgba(9, 211, 107, 0.543);
        border: 1px solid rgb(255, 255, 255);
        transition: 0.4s all;
        &:hover {
          border: 2px solid #5c27c0;
        }
      }
      .profileCard {
        display: none;
        scale: 0;
      }
      .hoverCard {
        scale: 1;
        width: 150px;
        // height: 150px;
        position: absolute;
        background-color: #c5c3c3;
        top: 70%;
        left: 100%;
        // padding: 10px;
        z-index: 10;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        box-shadow: 0 0 6px rgba(204, 11, 198, 0.176);
        a,
        button {
          border: none;
          text-decoration: none;
          color: #f2f2f2;
          width: 100%;
          text-align: left;
          font-size: 20px;
          padding: 10px;
          color: black;
          transition: 0.3s all;
          &:hover {
            color: white;
            background-color: #1a1919;
          }
        }
      }
    }
    .middle {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin: 0px 10px;
      width: 100%;
      .title {
        color: rgb(207, 204, 198);
        font-size: 18px;
        text-decoration: underline;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(169, 25, 140, 0.342),
            rgba(128, 25, 169, 0.342)
          );
          transform: skew(-20deg);
          z-index: -1;
        }
      }
      p {
        color: gray;
        font-size: 12px;
        text-align: justify;
      }
      .timing {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 14px;
        color: rgba(107, 104, 104, 0.612);
        line-height: 1;
        margin-top: 4px;
        margin-bottom: 4px;
        button {
          margin: 0 10px;
          padding: 6px 15px;
          background-color: rgb(25, 25, 25);
          border: none;
          border-radius: 1px;
          width: 100px;
          border: 1px solid rebeccapurple;
          color: white;
          position: relative;
          overflow: hidden;
          z-index: 1;
          &::before {
            content: "";
            background-color: #f2f2f23e;
            width: 100%;
            height: 100%;
            left: 70%;
            top: 40%;
            position: absolute;
            transform: skew(-40deg);
            transition: 0.3s all;
            z-index: -1;
          }
          &:hover::before {
            box-shadow: 0 0 4px purple;
            left: 50%;
            top: 20%;
          }
        }
      }
    }
  }
}
