.register_Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("../../assets/images/BackgroundImage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .error_message_throw {
    position: absolute;
    right: 6rem;
    bottom: 6rem;
  }
  .display_panel {
    position: absolute;
    width: 700px;
    transform: skew(24deg) rotate(22deg);
    height: 130px;
    background: linear-gradient(to right, #b0c4b1, #e7c6ff, #ffc2d1);
    left: 0;
    top: 85%;
  }
  .left_content {
    width: 60%;
    height: inherit;
    padding: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner_content {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      position: relative;
      .back_button {
        position: absolute;
        left: 2rem;
        top: 2rem;
      }
      p {
        font-size: 1.25rem;
        color: rgb(105, 102, 102);
      }
      .content {
        h2 {
          text-align: center;
          font-size: 2rem;
          font-weight: 800;
          background: linear-gradient(to right, #4c877c, #194056, #488aaf);
          background-clip: text;
          color: #d400ff8c;
        }
        p {
          color: #f2f2f2;
        }
      }
    }
  }
  .right_content {
    flex: 1;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    .inner_content {
      height: 80%;
      width: 80%;
      display: flex;
      align-items: start;
      flex-direction: column;
      .input_Fields {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        .errorMsg {
          color: red;
          margin: 10px 0px;
          align-self: self-start;
          border-left: 1px solid red;
          background-color: rgba(255, 0, 0, 0.162);
          width: 100%;
          padding: 5px;
        }
        h1 {
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 600;
        }
        .register_message {
          p {
            color: gray;
            a {
              text-decoration: underline dotted;
              color: #8e1c75;
            }
          }
        }
        .uploader {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
